.class-card {
    height: 420px;
    background-color: #2489CA;
    border-radius: 10px;
    overflow: hidden;
}

.class-card__image-wrapper {
    height: 60%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: antiquewhite;
    overflow: hidden;
}

.class-card__image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.class-card__title {
    padding: 10px;
}
.class-card__title h2 {
    margin: 0;
    padding: 0 10px;
    font-weight: 400;
    border-bottom: 2px solid black;
    font-size: 2rem;
}

.class-card__info {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.class-card__info p {
    font-size: 1.3rem;
    margin: 0;
    padding: 8px 0;
}

.class-card__info span {
    display: block;
    text-align: right;
}
