.class-header-container {
    display: flex;
    height: 150px;
    background-color: #2489CA;
    border-radius: 8px;
    overflow: hidden;
}

.class-header__image-wrapper {
    width: 20%;
    margin-right: 1.2em;
}
.class-header__image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}