nav {
    width: 25%;
    height: calc(100vh - var(--header-height));
    position: fixed;
    background-color: #EBEBEB;
}

nav ul {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

nav ul li {
    box-sizing: border-box;
    width: 90%;
    margin: 10px 0;
    border-radius: 8px;
    font-size: 1.3rem;
}

nav ul li:last-child {
    justify-self: flex-end;
}

nav ul li a {
    padding: 10px 5px;
    display: block;
    text-decoration: none;
    color: #333;
}

nav ul li:hover {
    background-color: #CCCCCC;
}

.active-link {
    box-shadow: inset 0px 0px 25px 1px #CCCCCC;
}