.landing {
    padding: 4.3em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.landing img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landing h1 {
    font-size: 2.3rem;
    text-align: center;
}
.landing h1,
.landing .btn-join {
    z-index: 2;
}

.btn-join {
    width: 250px;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    background-color: #2489CA;
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
}