:root {
    --header-height: 4em;
}

main {
    display: flex;
}

.container {
    box-sizing: border-box;
    width: 75%;
    min-height: calc(100vh - var(--header-height));
    padding: 20px 50px;
    margin-left: 25%;
    background-color: #DEDEDE;
}